body {
    background-color: pink;
    height: 100%;
    padding-bottom: 150px;

}
h1{
    font-family: monospace;
    text-align: center;
    margin: auto;
    color: lightblue;
    padding: 50px;
}
ul{
    padding-left: 0px;
    padding-bottom: 50px;
    width: 50%;
    margin: auto;
    list-style-type: none;
    border-bottom-
}
li {
    
    float: left;
    padding: 2px;
    
}
li a {
    color: white;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
    background-color: black;
    
}
li a:hover{
    background-color: lightblue;
}
#nav{
    display: table;
    margin: auto;
}

#sidebar{
    padding-top: 12px;
    float: right;
    margin: auto;    
}
#footer{
    
    width: 75%;
    margin: auto;
    text-align: center;
}

p{
     
}
.blogpost{
    width: 50%;   
    margin: auto;
    padding: 0px 25px 10px 25px;
    outline: solid 2px black;
    }
.blogpost h2{
    font-family: monospace;
    border-bottom: 1px black solid;
}
.blogpost p{
    font-family: monospace;
    font-size: 20px;
    text-align: justify;
    
}
